html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  /* box-sizing: border-box; */
  font: Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  /* font: 400 18px/24px Google Sans, -apple-system, BlinkMacSystemFont, sans-serif; */
}
